@font-face {
  font-family: 'BMWTypeNextLatin-Regular';
  src: url('../public/fonts/BMWTypeNextLatin-Regular.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

p {
  background: pink;
}

.font {
  font-family: BMWTypeNextLatin-Regular;
  font-size: 20px;
  color: green;
}

.list-img {
  background-image: url(../public/images/8.jpeg);
  width: 500px;
  height: 300px;
  display: flex;
}

.box {
  display: flex;
  width: 200px;
  height: 200px;
  background-color: orange;
}
